.form-group {
  margin-bottom: 20px;
  padding-top: 1px;
  display: block;
  position: relative;
}

/* floating labels code */

.floating-label-wrap {
  position: relative;
  display: block;
  margin-top: 10px;
  padding-bottom: 10px;

  .form-control {
    position: relative;
    height: 34px;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.42857;
    color: $color-text;
    background-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    z-index: 2;

    &:focus, &:not(:disabled):not(.form-control-static):hover {
      border-color: $color-text-gray;
    }

    &:not(textarea) {
      border-right: none;
      border-left: none;
      border-top: none;
    }

    ~ label {
      position: absolute;
      top: 6px;
      left: 0;
      color: $color-text-gray;
      font-weight: normal;
      font-size: 14px;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
    }

    &:disabled ~ label {
      z-index: 3;

      // left: 10px
   
    }

    &:focus ~ label, &:not([data-value=""]):not(.select2-container):not(select) ~ label {
      font-size: 11px;
      transform: translateY(-15px);
    }
  }

  textarea.form-control {
    border-radius: 2px;
    resize: none;
    padding: 6px 10px;
    margin-top: 22px;
    min-height: 80px;

    ~ label {
      top: 0;
      font-size: 14px !important;
      transform: translateY(-26px) !important;
    }
  }

  .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: transparent;
    border: none;
  }

  .select2-dropdown-open ~ label, select.form-control:not([data-value=""]) ~ label {
    font-size: 11px;
    transform: translateY(-15px);
  }

  .select2-dropdown-open ~ label, .form-control:focus ~ label {
    color: $color-primary-ninja;
  }

  label {
    z-index: 1;

    .error {
      font-size: 11px;
    }
  }

  // datepicker

  .input-group-addon, .input-group-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    width: auto;
    font-size: 20px;
  }

  .input-group-addon {
    padding-right: 4px;
  }
}

.input-daterange {
  input:first-child, input:last-child {
    border-radius: 0;
  }
}
